$blue: (dark: #082568, darkerNormal: #0D3184, normal: #1240AB, lighterNormal: #365BB0, light: #5777C0)
$red: (dark: #9B2C00, darkerNormal: #C53800, normal: #FF4900, lighterNormal: #FF7139, light: #FF8F63)
$orange: (dark: #FFAA00, darkerNormal: #C58300, normal: #FFAA00, lighterNormal: #FFBD39, light: #FFCB63)
$green: (dark: #006A3D, darkerNormal: #00874D, normal: #00AF64, lighterNormal: #28B478, light: #4CC390)
