/* Body style */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding-right: calc((100% - 1366px) / 2);
  padding-left: calc((100% - 1366px) / 2);
}

/* Header style */

header {
  width: 100%;
  height: 200px;
  text-align: center;
}

header::before {
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
}

/* Nav style */

nav {
  width: 100%;
  height: 50px;
}

nav > ul {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

nav > ul > li {
  height: 100%;
  display: inline-block;
  font-size: 1.25em;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  vertical-align: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
}

footer {
  width: 100%;
  height: 100px;
}

main {
  width: 100%;
  min-height: calc(100vh - 350px);
}
main::after {
  display: block;
  content: '';
  clear: both;
}

main > section {
  box-sizing: border-box;
  overflow: hidden;
}

main > .navigation {
  width: 200px;
  float: left;
}